name: Passing Variables Between Jobs 
on: 
 workflow_dispatch:
jobs:
 producer:
  runs-on: ubuntu-24.04 
  outputs:
   foo: ${{ steps.generate-foo.outputs.foo }}
  steps:
   - name: Generate and export foo 
     id: generate-foo 
     run: |
      foo=bar 
      # 1) Step output (for job output)
      echo "foo=${foo}" >> "$GITHUB_OUTPUT"
      # 2) Job-scoped environment variable env not use {{}} 
      echo "FOO=${foo}" >> "$GITHUB_ENV" 
   - name: Inspect values inside producer 
     run: | 
      echo "FOO {set via GITHUB_ENV}: $FOO"
 consumer:
   runs-on: ubuntu-24.04 
   needs: producer
   steps:
    - name: Inspect values inside consumer
      run: | 
         echo "Vlaues from producer: ${{ needs.producer.outputs.foo }}"
         echo "FOO in consumer: ${{FOO:<UNSET>}}"
